body {
  font-family: 'Open Sans';  
}
a {
  color: #2196f3;
  text-decoration: underline;
}
h1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 45px;
}
h4 {
  color: #424242;
  font-size: 16px;
  font-weight: 600;
}
blockquote {
  border-left: #2196f3 4px solid;
  color: #757575;
  padding: 0 15px;
}
.list {

  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 60px;
    padding-bottom: 5px;
  }
  .type-bg {
    background-color: #2196f3;
    border-radius: 5px;
    display: inline-block;

    font-size: 16px;
    font-weight: 300;
    margin: 0 0 12px 0;
    padding: 5px;
  }
  .name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .address {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
  }
}