body {
  font-family: 'Open Sans'; 
  @media (max-width:600px){
    padding: 0 10px;
  } 
}
a {
  color: #3f51b5;
  text-decoration: underline;
}
h1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 45px;
}
h4 {
  color: #424242;
  font-size: 16px;
  font-weight: 600;
}
blockquote {
  border-left: #3f51b5 4px solid;
  color: #757575;
  padding: 0 15px;
}
.list {
  .business_details:first-of-type {
    margin: 0 0 25px 0;
  }
  .business_details {
    margin: 25px 0;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 60px;
    padding-bottom: 5px;
  }
  p.type {
    color: #3f51b5;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 12px 0;
  }
  .name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .address {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
  }
}