---
layout: default
---
{% assign city_grouper = site.data.latest | group_by: 'city' %}
<div class="list">
  {% for group in city_grouper %}
    <h2>{{group.name}}</h2>
    {% assign type_grouper = group.items | group_by: 'business_type' | sort:'name' %}
    {% for type in type_grouper %}
      <p class="type">{{type.name}}</p>
        <div class="category">
        {% for b in type.items %}
          <div class="business_details">
            <p class="name">{{b.business_name}}</p>
            <p class="address">{{b.address}}</p>
            <p class="address">Outbreak date: {% assign d = b.date | date: "%-d" %}{% assign m = b.date | date: "%B" %}{% case m %}{% when 'April' or 'May' or 'June' or 'July' %}{{ m }}{% when 'September' %}Sept.{% else %}{{ b.date | date: "%b" }}.{% endcase %} {{ d }}, {{ b.date | date: "%Y" }}
            </p>
          </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endfor %}
</div>